.header{
    height: 55px;
    position: fixed;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    
    top: 0;
    left: 0;
    right: 0;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    border-bottom-color: rgb(223, 219, 219);
}


